<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restaurant.dao.ExpandMapper">

    <!--useGeneratedKeys="true" keyProperty="id"-->
    <insert id="insert" parameterType="com.restaurant.entity.Expand">
        insert into
        tbl_expand(
        date,
        type,
        money,
        message)
        values (
        #{date},
        #{type},
        #{money},
        #{message})
    </insert>

    <update id="deleteFromDB" parameterType="Integer">
        update
        tbl_expand
        set
        delete_flag = 1
        where
        id = #{id}
    </update>

    <select id="selectExpandByData" resultType="com.restaurant.entity.Expand">
        select
        id, date, type, message, money
        from
        tbl_expand
        where
        date between #{dateBegin} and #{dateEnd}
        and delete_flag != 1
        limit #{start}, #{end}
    </select>

    <select id="selectExpandByType" resultType="com.restaurant.entity.Expand">
        select
        id, date, type, message, money
        from
        tbl_expand
        where
        type = #{type}
        and delete_flag != 1
        limit #{start}, #{end}
    </select>

    <select id="selectExpands" resultType="com.restaurant.entity.Expand">
        select
        id, date, type, message, money
        from
        tbl_expand
        where
        date between #{dateBegin} and #{dateEnd}
        and type = #{type}
        and delete_flag != 1
        limit #{start}, #{end}
    </select>

</mapper>